<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{church.name}}">
  <ion-content class="padding">
    <p>
      {{ church.leader }}
    </p>
    <p>
      {{ church.url }}
     </p>
     <p>
      {{ church.adddress }} {{ church.city }}, {{ church.state }} {{ church.zip }}
     </p>
     <p>
      {{ church.email }}
     </p>
     <p>
      {{ church.phone }}
     </p>
    
  </ion-content>
</ion-view>
