<ion-view view-title="Lookup">
  
   <ion-content>
    <div  class="button button-calm button-full" ng-click="currentLocation()">
      <i class="icon ion-navigate"></i> Look up your current location
    </div>

    <label class="item item-input">
	  <span class="input-label">Address or Zip</span>
	  <input type="text">
	</label>
	 <div  class="button button-calm button-full" ng-click="currentLocation()">
      <i class="icon ion-navigate"></i> Look up address
    </div>

  </ion-content>
</ion-view>
