<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Search for Churches" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/lookup">
    <ion-nav-view name="tab-lookup"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Search Results" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/churches">
    <ion-nav-view name="tab-churches"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Filter by Denomination" icon-off="ion-ios-toggle-outline" icon-on="ion-ios-toggle" href="#/tab/denominations">
    <ion-nav-view name="tab-denominations"></ion-nav-view>
  </ion-tab>


</ion-tabs>
